.lg-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.lg-title {
	text-transform: uppercase;
	font-size: 11px;
	margin-bottom: 15px;
}

.lg-links {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
