.s-header {
	color: rgba(0, 0, 0, 0.6);
	padding: 10px 0px 20px 0px;
	width: 100%;
	text-align: center;
}

.s-btn-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 30px;
	width: 100%;
	margin-top: 40px;
}

@media screen and (max-width: 600px) {
	.s-btn-container {
		width: 100%;
		flex-direction: column;
		flex-flow: column-reverse;
		gap: 15px;
		align-items: center;
	}
}
