.ap-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ap-content {
  width: 100vw;
  height: calc(100vh - 28px);
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.ap-sidebar {
  width: 250px;
  height: 100%;
  border-right: 0.1px solid #8c8a8a33;
}

.ap-sidebar-floating {
  display: none;
}

.ap-overlay {
  display: none;
}

.ap-main-container {
  width: calc(100vw - 250px);
  height: 100%;
}

.ap-header {
  height: 60px;
  width: 100%;
  padding: 10px;
  display: flex;
}

.ap-main {
  width: 100%;
  height: calc(100% - 50px);
}

.ap-footer {
  height: 28px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-top: 0.1px solid #8c8a8a33;
}

.ap-new-issue-btn-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  margin-bottom: 30px;
}

.ap-menu-toggle {
  display: none;
  border-radius: 50%;
  background-color: #fff;
  width: 38px;
  height: 38px;
  padding: 8px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.ap-menu-toggle:hover {
  background-color: #f0f0f0;
}

.ap-menu-toggle:focus {
  outline: none;
}

.ap-menu-toggle:active {
  background-color: #e0e0e0;
}

@media screen and (max-width: 768px) {
  .ap-sidebar {
    display: none;
  }

  .ap-main-container {
    width: 100%;
  }

  .ap-menu-toggle {
    display: block;
  }

  .ap-sidebar-floating {
    display: block;
    position: absolute;
    width: 250px;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 100;
  }

  .ap-overlay {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #36363643;
  }
}
