.noti-detail-row {
	margin-bottom: 20px;
}

.noti-detail-label {
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.noti-detail-noti-title {
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

.noti-detail-desc {
	font-size: 16px;
	line-height: 1.3;
}
