.mc-container {
	background-color: #8C8A8A33;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.mc-modal {
	background-color: white;
	padding: 15px;
	border-radius: 8px;
	min-width: 500px;
}

.mc-modal-header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin-bottom: 10px;
}

.mc-logo {
	width: 32px;
	height: 32px;
}

.mc-title {
	font-size: 22px;
	font-weight: 400;
	margin-left: 5px;
}

.mc-modal-content {
	border-top: 1px solid #8C8A8A33;
	padding-top: 15px;
}

@media screen and (max-width: 500px) {
	.mc-modal {
		width: 100%;
		height: 100%;
		border-radius: 0px;
	}
}
