.status-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.status-message-card {
	width: 250px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.status-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.status-title {
	font-size: 16px;
}

.status-message {
	font-size: 14px;
}

.status-icon-container {
	width: 30px;
	height: 30px;
	margin: 10px;
}
